* {
  margin: 0;
  box-sizing: border-box; /* Ensures padding and borders are included in width */
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  row-gap: 50px;
  padding: 20px;
}

.child1 {
  border: 1px solid rgb(255, 255, 255);
}

.child2 {
  width: 1200px;
  height: 300px;
  background-color: rgb(228, 228, 228);
  padding: 20px;
  border: 1px solid #ccc;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap; 
  position: relative; 
}
.child2 span {
  position: absolute;
  transition: transform 1s ease, font-size 1s ease, opacity 1s ease; /* Smooth transitions for position and size */
}